<h1>Show Finder</h1>
<article>
<p>This website allows you to search for a movie. Try by typing a move below.</p>
 <form action="/shows" method="POST">
    <input>
    <label></label>
  </form>
</article>